<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zenflex">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/stretching"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/stretching"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZenFlex">
        <activity
            android:name="com.example.zenflex.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ZenFlex.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>